node_modules/
backend/src/node_modules
backend/.env
.env
frontend/.env.local
.env.local
.next/
dist/
*.log
.DS_Store
ansible/group_vars/all.yml
*.pem
terraform-3tier/.terraform
terraform-3tier/.terraform.lock.hcl
terraform-3tier/terraform.tfstate
terraform-3tier/terraform.tfstate.backup
terraform-3tier/modules/albs/.terraform 
terraform-3tier/modules/albs/.terraform.lock.hcl
terraform-3tier/modules/albs/terraform.tfstate
terraform-3tier/modules/albs/terraform.tfstate.backup
terraform-3tier/modules/ec2/.terraform
terraform-3tier/modules/ec2/.terraform.lock.hcl
terraform-3tier/modules/ec2/terraform.tfstate
terraform-3tier/modules/ec2/terraform.tfstate.backup
terraform-3tier/modules/rds/.terraform
terraform-3tier/modules/rds/.terraform.lock.hcl
terraform-3tier/modules/rds/terraform.tfstate
terraform-3tier/modules/rds/terraform.tfstate.backup
terraform-3tier/modules/vpc/.terraform
terraform-3tier/modules/vpc/.terraform.lock.hcl
terraform-3tier/modules/vpc/terraform.tfstate
terraform-3tier/modules/vpc/terraform.tfstate.backup
terraform-3tier/modules/security-groups/.terraform
terraform-3tier/modules/security-groups/.terraform.lock.hcl
terraform-3tier/modules/security-groups/terraform.tfstate
terraform-3tier/modules/security-groups/terraform.tfstate.backup
